In [100]:
import pandas as pd 
import streamlit as st
from selenium import webdriver
import os
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup
import requests

In [2]:
raw_data = pd.read_csv('h1b_datahubexport-2022.csv')

In [3]:
sorted_data = raw_data.sort_values(by='Initial Approval',ascending=False)

In [4]:
work_data = sorted_data.reset_index().loc[:,['Fiscal Year','Employer','Initial Approval','Initial Denial','Continuing Approval','Continuing Denial','City']]

In [5]:
work_data = work_data[work_data['Employer'].notna()]
len(work_data)

59976

In [6]:
choice = st.number_input("Select number of companies you want to view",1,50000)
search = st.sidebar.text_input('company name')

2023-02-13 16:39:18.100
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run /Users/deekshith/opt/anaconda3/lib/python3.9/site-packages/ipykernel_launcher.py [ARGUMENTS]

In [28]:
st.dataframe(work_data.head(choice))

SyntaxError: invalid syntax (151516194.py, line 1)

In [7]:
look = search.upper()
work_data[work_data['Employer'].str.contains(look)]

,Fiscal Year,Employer,Initial Approval,Initial Denial,Continuing Approval,Continuing Denial,City
0,2022,AMAZON.COM SERVICES LLC,3296,18,6314,103,ARLINGTON
1,2022,INFOSYS LIMITED,3117,50,3971,22,RICHARDSON
2,2022,TATA CONSULTANCY SVCS LTD,2722,86,7238,255,ROCKVILLE
3,2022,COGNIZANT TECHNOLOGY SOLUTIONS US CORP,2447,22,3375,36,COLLEGE STATION
4,2022,GOOGLE LLC,1562,11,6858,76,MOUNTAIN VIEW
...,...,...,...,...,...,...,...
59978,2022,INTERNATIONAL B2B SOLUTIONS INC,0,0,1,0,PLEASANTON
59979,2022,INTERNATIONAL BRIDGE INC,0,0,1,0,PROVO
59980,2022,INTERNATIONAL BUDGET PARTNERSHIP,0,0,2,0,WASHINGTON
59981,2022,INTERNATIONAL BUSINESS SOLUTIONS L,0,0,1,0,BRIDGEWATER
59982,2022,ZZ VENTURES INC,0,0,1,0,SAN FRANCISCO

In [8]:
sorted_data.head()

,Fiscal Year,Employer,Initial Approval,Initial Denial,Continuing Approval,Continuing Denial,NAICS,Tax ID,State,City,ZIP
2876,2022,AMAZON.COM SERVICES LLC,3296,18,6314,103,45,4687.0,VA,ARLINGTON,22202.0
26096,2022,INFOSYS LIMITED,3117,50,3971,22,54,235.0,TX,RICHARDSON,75082.0
51067,2022,TATA CONSULTANCY SVCS LTD,2722,86,7238,255,54,9806.0,MD,ROCKVILLE,20850.0
12011,2022,COGNIZANT TECHNOLOGY SOLUTIONS US CORP,2447,22,3375,36,54,4155.0,TX,COLLEGE STATION,77845.0
22206,2022,GOOGLE LLC,1562,11,6858,76,54,3581.0,CA,MOUNTAIN VIEW,94043.0

In [201]:
comp = 'oxy'
key_word = 'data'

In [159]:
os.environ['PATH'] += '/Users/deekshith/Documents/Selenium Drivers'

In [189]:
driver = webdriver.Firefox()

In [216]:
driver.get('https://www.google.com/')
driver.find_element(By.CLASS_NAME, "gLFyf" ).send_keys( key_word+" job openings in "+comp+ Keys.ENTER)

In [219]:
try : 
    temp = driver.find_element(By.CSS_SELECTOR,'a[href*=";jobs&"]')
    link = temp.get_attribute('href')
    driver.get(link)
    driver.maximize_window()
    job_list = driver.find_elements(By.TAG_NAME,"li")
    for job in job_list:
        print(job.text+"\n")
except :
    driver.get('https://www.indeed.com/jobs?q='+comp+'+'+key_word)
    page = driver.page_source
    job_list = driver.find_elements(By.TAG_NAME,"li")
    jobs = []
    for job in job_list:
        try : jobs.append(job.text)
        except : continue 
    for job in jobs :
    if comp in job: print(job)
    else: continue